---
sources:
    - name: event_source
      events:
          - "no-event-listens"
      sinks:
          - event_sink
sinks:
    - name: event_sink
      transformers:
      publishers:
          - notifier://
